#################
## Eclipse/Aptana
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/


#################
## Intellij/WebStorm
#################
.idea/
*.iml
*.iws


#################
## Mac
#################
.DS_Store
